body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkout {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.checkout h1 {
  text-align: center;
}

.checkout input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

.checkout button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#mensagem {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.preco {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.preco span {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
